body {
  margin: 0;
  font-family: sans-serif;
  background-color: #F4F3F5;
  color: #000000;
}

/* Header */

.header{
  background-color: #85C3F8;
  overflow: auto; 
  text-align: center;
}

.header a:visited,
.new-post-button,
.back-button {
  text-decoration: none;
  color: #000000;
}

a:link {
  text-decoration: none;
  color: #FFFFFF;
}

.headerText {
  padding: 20px;
  font-size: 48px;
  margin: 0;
}

/* Main Content */

.main-content {
  height: 100%;
  padding: 5px;
  margin: 20px auto 0 auto;
  line-height: 1.5;
}



  .sidebar-column {
    padding: 4px;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .post {
    max-width: 900px;
    margin: auto;
  }

  .post-item {
    display: flex;
    justify-content: center;
  }
  .post-info {
    color: #b0bec5;
  }

/* Posts */

.posts-column {
  display: flex;
  flex: 80%;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5px;
}

.post { 
  background-color: #DDDEDD;
  padding: 10px;
  margin: 5px;
  flex-grow: 1;
  flex: 1 100%;
}

.post h2 {
  color: #000000;
}

/* Sidebar */
/* New Post Button */

.new-post-button {
  margin: 0 auto;
  background-color: #85C3F8;
  padding: 15px;
  font-weight: bold;
}

/* Category */

.category-section {
  text-transform: uppercase;
  text-align: center;
}

.sidebar-column {
  flex-basis: 20%;
  padding: 4px;
  text-align: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.sidebar-column ul {
  margin-top: 20px;
  list-style-type: none;
  padding: 0px;
  line-height: 2.5;
}

.sidebar-column li {
  display: list-item;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
  text-decoration: none;
}

.sidebar-column li:hover {
  cursor: pointer;
  text-decoration: underline #e3f1fc;
  transition: .5s;
}

/* Post Form */

.form-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 5px;
  box-sizing: border-box;
  margin-top: 20px;
  line-height: 1.5;
}

.form-row {
  display: flex; 
  flex-direction: column;
  padding: 5px 10px;
}

.form-row > label {
  flex: 1;
  font-size: 20px;
}

.form-row > input,
.form-row > select {
  flex: 3;
  height: 2em;
}
.form-row > select {
 background-color: white;
}

.invalid {
  border: 1px solid red;
}

.form-row p {
  color: red;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}

.submit-button, .back-button {
  background-color: #85C3F8;
}

.back-button, .delete-button {
  margin: 10px;
}

.button {
  color: #1e2022;
  padding: 15px;
  width: 25%;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  border: 0;
  margin-top: 30px;
  font-weight: bold;
}

.danger {
  background-color: #fc1f49;
}

@media (min-width: 900px) {
  .main-content {
    display: flex; 
    justify-content: center; 
    align-content: center;
    margin: 20px auto 0 auto;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .form-row > input,
  .form-row > select,
  .submit-button, .cancel-button {
    width: 100%;
  }
}